[submodule "cmake"]
	path = cmake
	url = https://github.com/matgla/EmbeddedCMakes.git
	branch = master
[submodule "test/ut/lib/googletest"]
	path = test/ut/lib/googletest
	url = https://github.com/google/googletest.git
